
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header, footer {
    color: black;
    padding: 1rem;
    text-align: center;
}
footer{
    border-top: 2px solid orange;
}
.main-nav {
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.main-nav li {
    padding: 8px;
}
.main-nav a {
    color: orangered;
    text-decoration: none;
}
#book-list {
    padding: 0 2rem;
}
.book {
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
    padding: 1rem;
}
.book h2 {
    color: red;
    font-size: 1.5rem;
    text-align: left;
    margin: 20px;
}
#desc {
    padding-left: 20px;
}
.stat{
    justify-self: right;
}
.book img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}
#desc {
    grid-column: 1/3;
}
/* I need to fix the mobile size to keep the nav from stacking */
@media (min-width: 700px) {
    .main-nav{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        /* justify-content: center; */
    }
    .book {
        display: grid;
        grid-template-columns: 1fr 2px 3fr;
        grid-template-rows: repeat(7, auto);
        gap: 0 1rem;
        border: 50px;
        /* background: linear-gradient(to right, transparent 155px, orange 155px, orange 157px, transparent 157px); */
    }
    .stat {
        grid-column: 1;
        padding-right: 1rem;
        margin: 0;
        /* border-right: 2px solid orange; */
    }
    #s1{
        grid-row: 1;
        padding-top: 20px;
    }
    .book h2 {
        grid-column: 3;
        grid-row: 1/2;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
    }
    .book img {
        grid-row: 2/7;
        grid-column: 3;
        margin: 0;
        margin-left: 150px;
        justify-self: left;
    }
    #desc {
        grid-row: 7;
        grid-column: 3;
        text-align: left;
        padding-left: 50px;
    }
}
          