body {
    justify-content: center;
    padding: 50px 0;
    margin: 0;
    display: flex;
    background-color: #CDCDCD;
}

#content {
    width: 600px;
    padding: 40px;
    border: 1px solid #333;
    text-align: center;
}

p {
    color: #005a9c;
    font-size: 18px;
    margin-top: 0;
}

hr {
    border: 0;
    border-top: 3px solid #005a9c;
    width: 80%;
    margin: 20px auto;
}

img {
    width: 300px;
}

ul.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
}

li {
    margin-bottom: 5px;
    line-height: 1.4;
    text-align: left;
    padding-left: 100px;
    padding-right: 125px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

/* test */