body {
  font-size: 1.2em;
}
form {
  min-width: 320px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
h1, h2 {
  text-align: center;
}
label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .errors {
    white-space: pre-line;
    color: red;
  }
  
  #cards{
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
    font-size: clamp(8px, 24px, 128px);
    
  }

    #top_card{
        background-color: lightgray;
        grid-column: 1/3;
        grid-row: 1/4;
        z-index: 2;
        border-radius: 1.5vw;
        box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
        aspect-ratio: 3 / 2;
        padding: 1vw;
        width: 100%;
        max-width: 100%;
        min-height: 200px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

        #total {
            display: flex;
            align-items: center;
        }

        #emoji{
            display: flex;
            justify-content: right;
            align-items: center;
            font-size: 2.5rem;
        }

        #card_number{
            display: flex;
            grid-column: 1;
            grid-row: 2;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
        }

        #card_holder{
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-column: 1;
            grid-row: 3;
        }

        #expiration{
            grid-column: 2;
            grid-row: 3;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

        #expiration label{
            grid-column: 1/3;
        }

    #bottom_card{
        background-color: lightgrey;
        grid-column: 2/4;
        grid-row: 2/6;
        border-radius: 1.5vw;
        box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
        aspect-ratio: 3 / 2;
        width: 100%;
        max-width: 100%;
        min-height: 200px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 2fr 1fr 2fr;
    }

        .bar {
            padding-top: 3vw;
            margin-top: 2vw;
            width: 100%;
            height: 20px;
            background-color: black;
            grid-column: 1 / 3;
        }

        #bcontent{
            grid-column: 2;
            grid-row: 3;
            padding: 2vw;
        }

        button{
            grid-column: 3;
            grid-row: 5;
            height: 80%;
            align-self: end;
            border-color: black;
            border-radius: 1.5vw;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
            cursor: pointer;
        }

@media (max-width: 700px) {
    form {
        width: 90%;
        padding: 0;
        border: 0;
    }
    
    #cards {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 0;
        font-size: 16px;
    }
    
    #top_card, #bottom_card {
        grid-column: 1;
        width: 100%;
        max-width: 400px;
        /* margin: 0 auto; */
    }
    
    #top_card {
        grid-row: 1;
        grid-template-rows: 80px 80px 80px;
    }
    
    #bottom_card {
        grid-row: 2;
        z-index: 1;
    }

    button {
        grid-column: 1;
        width: 128px;
        height: 48px;
        margin-left: 250px;
        margin-top: 16px;
    }
}