body {
    justify-content: center;
    padding: 50px 0;
    margin: 0;
    display: flex;
    position: relative;
}

select {
    position: absolute;
    top: 10px;
    left: 10px;
}

#content {
    width: 600px;
    padding: 40px;
    border: 1px solid #ccc;
    text-align: center;
}

p {
    color: #005a9c;
    font-size: 18px;
    margin-top: 0;
}

hr {
    border: 0;
    border-top: 3px solid #005a9c;
    width: 80%;
    margin: 20px auto;
}

img {
    width: 100px;
}

ul.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
}

li {
    margin-bottom: 5px;
    line-height: 1.4;
    text-align: left;
    padding-left: 100px;
    padding-right: 125px;
}

h2 {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: left;
    font-style: italic;
    padding-left: 10%;
    font-weight: normal;
}

h1 {
    font-size: 2.25rem;
}

#intro{
    text-align: left;
    color:#000000;
    padding-left: 10%;
    padding-right: 10%;
}

/* test */