@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    background-color: rgb(188, 187, 187);
}

main {
    max-width: 1000px;
    margin: 1rem auto;
    padding: 1rem;
}

header, footer{
    max-width: 100%;
    background-color: rgba(92, 126, 213);
    margin: 1rem auto;
    padding: 1rem;
    color:white;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
}

section{
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

nav a {
    padding: 20px;
    color: white;
    display: none;
}

nav a:hover {
    text-decoration: none;
    color: #616061;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}

footer {
    text-align: center;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    display: block;
    margin: 0 auto;
}

dialog img {
    width: auto;
    height: auto;
    max-width: 80vw;
    max-height: 80vh;
    border: none;
    padding: 0;
    margin: 0;
    object-fit: contain;
}
dialog {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background-color: rgba(0,0,0,.75);
    border: none;
    padding: 0;
    margin: 0;
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* dialog::backdrop {
    background-color: rgba(0,0,0,.75);
} */
dialog:not([open]) {
    display: none;
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}



@media screen and (min-width: 700px) {
    section{
        grid-template-columns: 1fr 1fr;
    }
    nav{
        text-align: center;
    }
}

@media screen and (min-width: 1000px) {
    section{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu-btn{
        display: none;
    }
    nav a{
        display: inline;
    }
}